<section id="about" class="about">
    <div class="about-container">
      <img src="assets/selma.jpg" alt="Profile Picture" class="profile-pic" />
      <div class="about-content">
        <h1>Selma Bajramović</h1>
        <h2 class="typing-animation" style="--width: 28ch; --steps: 28;">Software Engineering Student</h2>
        <p>
          As a final year student, I thrive on turning ideas into reality through code. My portfolio is a collection of projects where I've applied my skills to solve problems, learn new technologies, and push my boundaries as a developer. I'm always eager to take on new challenges and grow through hands on experience.
        </p>
      </div>
    </div>
  </section>